extends ../layout
block content
    div.container
        div.row
            div(class="col-md-8")
                div
                    link(rel="stylesheet" href="/stylesheets/player.css")
                    div(class="area" id="title-area" style="margin-top:10px")
                    div(class="area" id="player-area")
                    div(class="controls")
                        div(class="progress-bar")
                        span(class="stop")
                        span(class="pause")
                        span(class="flag" title="Shift+click to enable turbo mode.")
                        div(class="turbo") Turbo Mode
                        span(class="full-screen")
                    div(class="player")
                    div(class="internal-error")
                    div(class="title")
                    
                    //a(target="_blank" class="project-link" title="View project on Server")
                    script(src="/javascripts/FileSaver.min.js")
                    script(src="/javascripts/fonts.js")
                    script(src="/javascripts/jszip.js")
                    script(src="/javascripts/phosphorus.js")
                    script(src="/javascripts/player.js")
                    script(src="/javascripts/pages/work.js")
                    script(type='text/javascript').
                        P.IO.PROJECT_URL = '#{Url}';
                        P.IO.SOUNDBANK_URL = '#{Url}';
                        function show(id) {
                            //     titleArea.style.height = id ? 0 : titleAreaHeight + 'px';
                            //   playerArea.style.height = id ? playerAreaHeight + 'px' : 0

                            if (!id) urlInput.focus();
                        }

                        function load(id) {
                            if (id !== 'zip') {
                                show(id);
                            } else {
                            id = '';
                            }
                            if ('#{work.sourcePath}'.indexOf('sb2') !== -1) {
                                P.player.load(id, function (stage) {
                                //stage.triggerGreenFlag();
                                }, function (title) {
                                document.title = title ? title + ' \xb7 sulfurous' : 'sulfurous';
                                });
                            } else {
                            alert("the file is not sb2")
                            }
                        

                        }
                        currentWorkId  = '#{work._id}'
                
                div#thumb-download-evluate
                    button(style="display:inline" class="btn")
                        span(class="glyphicon glyphicon-thumbs-up") 
                    button(style="display:inline" class="btn")
                        span(class="glyphicon glyphicon-thumbs-down") 
                    button(style="display:inline" class="btn") 打赏 
                    a(href="/works/" + '#{work._id}' + "/downresource" class="btn") 
                        button(class="btn") 下载源码
                    a(href="/works/"+"#{work._id}"+ "/full" class="btn") 
                        button(class="btn") 全屏
                    a(href="/works/"+"#{work._id}"+"/evaluation" class="btn")
                        button(class="btn") 查看评估报告
                    script(type='text/javascript').   
                        load('works/'+ '#{work._id}'+'/downresource');
        
                div#textareawork
                    textarea#work_comment_text(rows=4 style="width:100%;height:100px;margin-top:20px" placeholder="想说点什么就写在这儿吧")
                    button#submit_comment_btn(class="btn" style="display:block;position:absolute;right:20px") 提交评论
                br
                h4 所有评论：  
                ul#workCommentList(class="list-group") 
                    - each obj in commentList
                        li(class="list-group-item")
                            div
                                div.row
                                    div(class="col-md-3")
                                            p 作者：
                                                a(href="user/id") #{obj.commentUser}
                                        div(class="col-md-5")
                                            p(style="display:inline") 时间：
                                                p(style="display:inline") #{obj.commentTime}
                                        div(class="col-md-1 pull-right" )
                                                - if (obj.index==0)
                                                    p 沙发
                                                - else if (obj.index==1)
                                                    p 板凳
                                                - else
                                                    p #{obj.index+1}楼
                                div  
                                    p #{obj.commentContent}

            div(class="col-md-4" style="margin-top:40px")
                div
                    h4 题目： 
                    p #{work.author}
                div
                    p 作者： 
                    p #{work.author}
                div
                    p 时间：
                    p #{work.uploadTime}
                div
                    p 说明
                    p #{work.description}
        script.
            $(window).resize(function(e) {
                var Pic = document.getElementsByTagName("canvas")[0];
                 $(".controls").css({'width': (Pic.width + 'px')});
            });

