//
   Created by hr on 2016/9/25.
extends user
block count
   //- var user_info = '{#user_info}';
   div.container
      //a #{user_info.phone_number}
      div.row
         div(class="col-xs-6 col-md-8 col-center-block")
            table.table
               caption 详细信息
               thead
                  tr
                     th
                     th
               tbody#detailinfo
                  tr
                     th 电话
                     th #{user_info.phone_number}
                  tr
                     th 住址
                     th #{user_info.address}
                  tr
                     th 学历
                     th #{user_info.education}
                  tr
                     th 评估成绩
                     th #{user_info.first_evaluate_rate}
