//
   Created by hr on 2016/9/22.

extends ../layout
block content
   div.container
      
      div.row
         div(class="col-md-2")
            div.row
                a(class="btn glyphicon glyphicon-user col-md-4 col-md-offset-2" id="dropdownMenu1" style="font-size: 100px;color: grey;")
            div.row
                p(class="col-md-4 col-md-offset-4" style="margin-top:-20px;") lijie
            ul(class="row nav nav-tabs nav-stacked" style="margin-top:20px" data-offset-top="125")
                li( class="active")
                    a( href="#countinfo") 账户信息
                li()
                    a( href="#myInfo") 我的资料
                li()
                    a( href="#myWorks") 我的作品
                li()
                    a( href="#myCourse") 我的课程
                li()
                    a( href="#") 信箱
                li()
                    a( href="#myLearningCurve") 我的学习曲线
         div(class="col-md-10")
            div(id="countinfo")
                div(class="page-header col-md-4 col-md-offset-4")
                    h1 账户信息
                div(class="col-md-12")
                    - if('#{me.loginnameqz}'==undefined)
                            p 没有找到账户信息
                        - else
                            div.row
                                div(class="col-md-2")
                                    登录名：
                                div(class="col-md-10")
                                    p #{me.loginname}
                            div.row
                                div(class="col-md-2")
                                    用户名：
                                div(class="col-md-10")
                                    p #{me.name}
                            div.row
                                div(class="col-md-2")
                                    注册时间：
                                div(class="col-md-10")
                                    p #{me.create_at}
                            div.row
                                div(class="col-md-2")
                                    积分：
                                div(class="col-md-10")
                                    p #{me.score}
                            div.row
                                div(class="col-md-2")
                                    注册邮箱：
                                div(class="col-md-10")
                                    p #{me.email}
            div(id="myInfo")      
                div(class="page-header col-md-4 col-md-offset-4")
                    h1 我的资料
            div(id="myWorks")
                div(class="page-header col-md-4 col-md-offset-4" )
                    h1 我的作品
            div(id="myCourse")
                div(class="page-header col-md-4 col-md-offset-4")
                    h1 我的课程
            div(id="myLearningCurve")
                div(class="page-header col-md-4 col-md-offset-4")
                    h1 我的课程























   //section.example
   //   section( class="hashTabber-sandstone-wrapper")
   //      ol( class="hashTabber-nav hashTabber-sandstone" data-hashtabber-id="dinosaurs" data-hashtabber-default="pterosaur")
   //         h2 Species
   //            li( data-hashtabber-pair="trilobite" class="")
   //               a( href="#dinosaurs=trilobite") Trilobite
   //            li( data-hashtabber-pair="velociraptor" class="")
   //               a( href="#dinosaurs=velociraptor") Velociraptor
   //            li(data-hashtabber-pair="pterosaur" class="")
   //               a( href="#dinosaurs=pterosaur") Pterosaur
   //            li( data-hashtabber-pair="lambeosaurus" class="")
   //               a( href="#dinosaurs=lambeosaurus") Lambeosaurus magnicristatus
   //            li( data-hashtabber-pair="eoraptor" class="active")
   //               a( href="#dinosaurs=eoraptor") Eoraptor
   //      ol( class="hashTabber-data hashTabber-sandstone" data-hashtabber-id="dinosaurs")
   //         li(data-hashtabber-pair="trilobite" class="")
   //            article
   //               h3 Trilobite
   //               p Trilobites are a well-known fossil group of extinct marine arthropods that form the class Trilobita. Trilobites form one of the earliest known groups of arthropods. The first appearance of trilobites in the fossil record defines the base of the Atdabanian stage of the Early Cambrian period (521 million years ago), and they flourished throughout the lower Paleozoic era before beginning a drawn-out decline to extinction when, during the Devonian, all trilobite orders except Proetida died out. Trilobites finally disappeared in the mass extinction at the end of the Permian about 250 million years ago. The trilobites were among the most successful of all early animals, roaming the oceans for over 270 million years.
   //
   //         li(data-hashtabber-pair="velociraptor" class="")
   //            article
   //               h3 Velociraptor
   //               p Velociraptor is a genus of dromaeosaurid theropod dinosaur that lived approximately 75 to 71 million years ago during the later part of the Cretaceous Period.Two species are currently recognized, although others have been assigned in the past. The type species is V. mongoliensis; fossils of this species have been discovered in Mongolia. A second species, V. osmolskae, was named in 2008 for skull material from Inner Mongolia, China.
   //
   //         li(data-hashtabber-pair="pterosaur" class="")
   //            article
   //               h3 Pterosaur
   //                  p Pterosaurs were flying reptiles of the clade or order Pterosauria. They existed from the late Triassic to the end of the Cretaceous Period (228 to 66 million years ago). Pterosaurs are the earliest vertebrates known to have evolved powered flight. Their wings were formed by a membrane of skin, muscle, and other tissues stretching from the ankles to a dramatically lengthened fourth finger. Early species had long, fully toothed jaws and long tails, while later forms had a highly reduced tail, and some lacked teeth. Many sported furry coats made up of hair-like filaments known as pycnofibres, which covered their bodies and parts of their wings. Pterosaurs spanned a wide range of adult sizes, from the very small Nemicolopterus to the largest known flying creatures of all time, including Quetzalcoatlus and Hatzegopteryx.
   //         li(data-hashtabber-pair="lambeosaurus" class="")
   //            article
   //               h3 Lambeosaurus magnicristatus</h3>
   //               p Lambeosaurus is a genus of hadrosaurid dinosaur that lived about 76 to 75 million years ago, in the Late Cretaceous period (Campanian) of North America. This bipedal/quadrupedal, herbivorous dinosaur is known for its distinctive hollow cranial crest, which in the best-known species resembled a hatchet. Several possible species have been named, from Canada, the United States, and Mexico, but only the two Canadian species are currently recognized as valid.
   //
   //         li( data-hashtabber-pair="eoraptor" class=" active")
   //            article
   //               h3 Eoraptor
   //               p Eoraptor was one of the world's earliest dinosaurs that lived ca. 231.4 million years ago, during the latter part of the Triassic Period in Western Gondwana, what is now the northwestern region of Argentina. It was a small sized (1 m (3.3 ft) long), lightly-built, ground-dwelling, two-legged bipedal saurischian, close to the ancestry of both theropods and sauropodomorphs. It is known from several well-preserved skeletons. When first described in 1993, it was considered to be one of the earliest, if not the earliest known dinosaur. Eoraptor has heterodont dentition, suggesting that it was omnivorous, and that this feeding strategy had evolved early on in dinosaurs.
