//
   Created by hr on 2016/9/22.

extends ../layout
block content
   div.container
      
      div.row
         div(class="col-md-2")
            div.row
                a(class="btn glyphicon glyphicon-user col-md-4 col-md-offset-2" id="dropdownMenu1" style="font-size: 100px;color: grey;")
            div.row
                p(class="col-md-4 col-md-offset-4" style="margin-top:-20px;") lijie
            ul(class="row nav nav-tabs nav-stacked" style="margin-top:20px" data-offset-top="125")
                li( class="active")
                    a( href="#countinfo") 账户信息
                li()
                    a( href="#myInfo") 我的资料
                li()
                    a( href="#myWorks") 我的作品
                li()
                    a( href="#myCourse") 我的课程
                li()
                    a( href="#") 信箱
                li()
                    a( href="#myLearningCurve") 我的学习曲线
         div(class="col-md-10")
            div(id="countinfo")
                div(class="page-header col-md-4 col-md-offset-4")
                    h1 账户信息
                div(class="col-md-12")
                    - if('#{me.loginnameqz}'==undefined)
                            p 没有找到账户信息
                        - else
                            div.row
                                div(class="col-md-2")
                                    登录名：
                                div(class="col-md-10")
                                    p #{me.loginname}
                            div.row
                                div(class="col-md-2")
                                    用户名：
                                div(class="col-md-10")
                                    p #{me.name}
                            div.row
                                div(class="col-md-2")
                                    注册时间：
                                div(class="col-md-10")
                                    p #{me.create_at}
                            div.row
                                div(class="col-md-2")
                                    积分：
                                div(class="col-md-10")
                                    p #{me.score}
                            div.row
                                div(class="col-md-2")
                                    注册邮箱：
                                div(class="col-md-10")
                                    p #{me.email}
            div(id="myInfo")      
                div(class="page-header col-md-4 col-md-offset-4")
                    h1 我的资料
            div(id="myWorks")
                div(class="page-header col-md-4 col-md-offset-4" )
                    h1 我的作品
                div(class="col-md-12")
                    - for(var i=0; i<myworks.length;i=i+4)
                        div.row
                                div(class="col-md-4" style="margin-bottom:20px")
                                    div(style="background:write")
                                        div
                                            a(href='/works/'+myworks[i]._id)
                                                img(src="/thumbnail/"+ "#{myworks[i]._id}"+".png" style="max-width:100%" alt="image1")
                                        div
                                            a(href='/works/'+myworks[i]._id)
                                                h3 #{myworks[i].name}
                                            div(class="row")
                                                span 
                                                    p 浏览次数： #{myworks[i].upCount}
                                - if((i+1)<myworks.length)
                                    div(class="col-md-4" style="margin-bottom:20px")
                                        div(style="background:write")
                                            div
                                                a(href='/works/'+myworks[i+1]._id)
                                                    img(src="/thumbnail/"+ "#{myworks[i+1]._id}"+".png" style="max-width:100%" alt="image1")
                                            div
                                                a(href='/works/'+myworks[i+1]._id)
                                                    h3 #{myworks[i+1].name}
                                                div(class="row")
                                                    span 
                                                        p 浏览次数： #{myworks[i+1].upCount}
                                - if((i+2)<myworks.length)
                                    div(class="col-md-4" style="margin-bottom:20px")
                                        div(style="background:write")
                                            div
                                                a(href='/works/'+myworks[i+2]._id)
                                                    img(src="/thumbnail/"+ "#{myworks[i+2]._id}"+".png" style="max-width:100%" alt="image1")
                                            div
                                                a(href='/works/'+myworks[i+2]._id)
                                                    h3 #{myworks[i+2].name}
                                                div(class="row")
                                                    span 
                                                        p 浏览次数： #{myworks[i+2].upCount}
                                
            div(id="myCourse")
                div(class="page-header col-md-4 col-md-offset-4")
                    h1 我的课程
            div(id="myLearningCurve")
                div(class="page-header col-md-4 col-md-offset-4")
                    h1 我的课程