//
   Created by yaohw on 2017-03-20 23:27:00.

extends ../layout
block content
        div.container
            //- script(src="/javascripts/pages/resource.js")
            div.row
                div(class="col-md-8")
                    script(type='text/javascript')
                        resourceId = '#{resource._id}'
                    div(style="border:grey 1px solid;padding:5px;width:500px height:360px")
                        img(width="100%" height="100%" src= "/resources/"+resource.resourcePath)
                                          
                    div
                        button(style="display:inline" class="btn")
                            span(class="glyphicon glyphicon-thumbs-up") 
                        button(style="display:inline" class="btn")
                            span(class="glyphicon glyphicon-thumbs-down") 
                        button#favor(style="display:inline" class="btn") 收藏
                        button(style="display:inline" class="btn") 打赏
                        a(href="/resource/"  + '#{resource.resourceType}' +'/'+ '#{resource._id}' + "/download" class="btn") 
                            button(class="btn") 下载资源 
                        a(style="position:absolute;right:20px;text-align:right") #{resource.watchCount}次浏览
                div(class="col-md-4")
                    div
                       span
                         h4 资源名称：
                       h2 #{resource.title}
                    div
                        h4 作者：
                        p #{resource.auth}
                    div
                        h4 资源简介：
                        p #{resource.description}
